body{
	background-image: url("https://i.imgur.com/iGFGTcs.png");
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 0px 180px;
	background-size: 100%;
}
ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active2 {
  background-color: #5d95c9;
}

.navbar a:hover {
  border-bottom: 3px solid blue;
}

.navbar a.active {
  border-bottom: 3px solid blue;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  border-bottom: 3px solid transparent;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin-top: top;
}

.navbar li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
}

.parellelogram {
	margin-top: 25px;
	border-radius: 25px;
	margin-left: 10%;
	width: 80%;
	height: 750px;
	transform: skew(-15deg);
	background: #5d95c9;
}
p.a{
	color: white;
}
* {
  box-sizing: border-box;
}
.stars{
	width: 100%;
	border-radius: 25px;
	height:700px;
}
.column {
	float: left;
	width: 50%;
	padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.rec1 {
	height: 80px;
	width: 100%;
	background: #333;
	margin-top: 20px;
	
}
p.d {
	text-align: center;
	color: white;
	padding-top: 20px;
}